/* PALM-TOP PCs */

@media only screen and (max-width: 1028px) and (min-width:1020px){

   .banner_image{
      position: absolute;
      margin: 200px auto;
      right: 30%;
      width: 35%;
  }

}

@media only screen and (max-width: 1028px) {

   /* RESPONSIVE NAVBAR */

   button.navbar-toggler {
      padding: 0px;
      border: 0px;
      width: 60px;
      height: 60px;
      margin: 12px;
   }

   .ticket img {
      width: 10%;
      margin: 12px;
   }

   .container.ticket {
      margin: 0px;
   }

}

/* TABLET MODES */
@media only screen and (max-width: 768px) {

   /*  body{
      overflow-x: hidden;
   } */

   /* RESPONSIVE NAVBAR */
   header .navbar-brand {
      padding-left: 1rem;
   }

   header .navbar-toggler {
      margin: 1.2em;
   }

   .ticket img {
      width: 10%;
   }

   /* BACKGROUND IMAGE IN HEADER SECTION */
   .masthead {
      height: 150vh;
      overflow: hidden;
   }

   /* banner image */

   /* .banner_image img{
      width: 10%;
   } */

   /* lower ticket */

   .lower {
      display: inline-block;
      text-align: center;
      padding: 8% 0% 0%;
   }

   .lower h1{
      font-family: var(--Rock-Salt);
      font-weight: bold;
      /* font-size: 2.5rem; */
   }

   /* MEDIA SECTION */

   .media_logo {
      width: 15%;
      margin: 15px 10px 25px;

   }

   /* MAP SECTION */
   #map .container h3 {
      font-size: 1.5rem;
   }

   /* MEDIA PARTNER SECTION */
   #ads h2 {
      font-size: 1.5rem;
   }

   /* BANNER_LOGO */

   .banner_image {
      position: absolute;
      margin: 155px auto;
      left: 10%;
      width: 85%;
   }

   /* FOOTER */

   footer h2,
   h4 {
      font-family: var(--Slackey);
      padding: 20px;
      font-weight: bold;
      font-size: 1rem;
   }

}

/* ONLY TABLET MODE */

@media only screen and (max-width: 770px) and (min-width:740px){

   /* .banner_image{
      position: absolute;
      margin: 200px auto;
      right: 15%;
      width: 45%;
  } */

  .banner_image{
   bottom: 50%;
   width: 30vh;
   right: 4%;
}

video{
   width: 100%;
   height: 40vmax; 
}

}

/* MOBILE-PHONES ALL SIZES */
@media only screen and (max-width: 450px) {

   body {
      overflow-x: hidden;
   }

   /* NAVBAR */
   button.navbar-toggler {
      padding: 0px;
      border: 0px;
      width: 60px;
      height: 60px;
      margin: 12px;
   }

   .navbar-brand {
      width: 196px;
   }

   /* HEADER SECTION  */
   .masthead {
      height: 95.5vh;
      overflow: hidden;
   }

   /* .banner_image {
      position: absolute;
      margin: 235px auto;
      right: 35%;
   } */

   .banner_image{
      bottom: 30%;
      width: 25vh;
      right: 4%;
   }

   video{
      width: 100%;
      height: 40vmax; 
   }

   /* Lower ticket */

   .lower {
      padding: 10% 0 0;
   }

   /* EXPERIENCE SECTION IMAGES */

   .experience .col-md-6 img {
      margin-bottom: 15px;
   }

   /* MEDIA PARTNERS SECTION */
   #ads h2 {
      font-size: 1.5rem;
   }

   /* MAP SECTION */
   #map .container h3 {
      font-size: 1.5rem;
   }

   /* FOOTER SECTION */
   footer .col-lg-3 .col-md-6 {
      margin-bottom: 15px;
      padding-left: 0px;
   }

   .ticket img {
      width: 65px;
   }

   footer h2,
   h4 {
      padding-left: 0px;
   }

}



/* MOBILE PHONES MEDIUM */
@media only screen and (max-width: 385px)and (min-width:300px) {

   .lower_ticket {
      width: 20%;
      padding-left: 10px;
   }

   .lower {
      display: inline-block;
      text-align: center;
      padding: 10% 0% 0%;
      font-family: var(--Rock-Salt);
      font-weight: bold;
      font-size: 0.5px;
   }

   /* .banner_image{
      bottom: 15%;
      width: 25vh;
      right: 4%;
   }

   video{
      width: 100%;
      height: 40vmax; 
   } */
}


/* MOBILE PHONES SMALL */
@media only screen and (max-width: 325px)and (min-width:300px) {

   /* TICKET LOWER BAR */

   /* .banner_image{
      bottom: 15%;
      width: 25vh;
      right: 4%;
   }

   video{
      width: 100%;
      height: 40vmax; 
   } */

   .lower_ticket {
      width: 20%;
      padding-left: 10px;
   }

   .lower {
      display: inline-block;
      text-align: center;
      padding: 10% 0% 0%;
   }

   .lower h1{
      font-family: var(--Rock-Salt);
      font-weight: bold;
      font-size: 1.2rem;
   }
}